html,
body,
.view {
  height: 100%; 
  width:100%;}


 /*Background */ 
body {
  /*

    background: url('../images/background/bg_mesa.jpg') no-repeat center center fixed;
    */
    background: url('https://source.unsplash.com/jLwVAUtLOAQ/1920x1080') no-repeat center center fixed;
   
}

/*Styles Navbar*/
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #000;  
   font-family: 'Advent Pro', sans-serif;
}

/* Navbar animation */
.navbar {
  background-color: transparent; }

.top-nav-collapse {
  background-color: #fff; }
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #F1F2D8 !important;
  }
}

/* Estilos header */

.header {
  font-size: inherit !important;
  padding: 20%;
  font: bold 4em sans-serif;
  color: #EBEFF2;
 }
 @media (min-width: 320px) and (max-width: 425px) {
   .header {
    padding-top: 60%;
    padding-left: 2%;
   }
 }
 @media (min-width: 426px) and (max-width: 767px) {
  .header {
   padding-top: 30%;
   padding-left: 10%;
  }
}
@media (width:768px) {
  .header {
   padding-top: 30%;
   padding-left: 20%;
   padding-bottom: 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header {
   padding: 20%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .header {
    padding-top: 20%;
    padding-left: 30%;
  }
}
@media (min-width: 1441px) and (max-width: 1920px) {
  .header {
    padding-left: 33%;
  }
}

.header p {
  font-family: 'Advent Pro', sans-serif;
  font-size: 4em;
  height: 1.1em;
  float: left;
  margin-right: 0.2em;
  position: relative; 
  text-shadow: 0 0.2em 0.2em #77a695, 0 8px 8px #28403d;
}

.header b {
  font-size: 3.5em;
  float: left;
  overflow: hidden;
  position: relative;
  height: 1.1em;
  color: #AD0D01;

  
}

.header .headertext {
  font-size: 1.2em;
  top:-10%;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  color: #bf8b5e;
  font-family: 'Advent Pro', sans-serif;

  /*animation*/
  -webkit-animation:move 5s;
  -moz-animation:move 5s;
  -ms-animation:move 5s;
  -o-animation:move 5s;
  animation:move 5s;
     /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
/*animation-delay*/
  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  -ms-animation-delay:1s;
  -o-animation-delay:1s;
  animation-delay:1s;
  text-shadow: 0 0.2em 0.2em #f1f2d8, 0 5px 5px #f1f2d8;

}

@keyframes move {
  0% {top: -40%; }
  20% {top: -140%; }
  40% {top: -265%; }
  60% {top: -400%; } 
  }
  @-webkit-keyframes move {
  0% {top: -40%; }
  20% {top: -140%; }
  40% {top: -265%; }
  60% {top: -400%; } 
  }
  @-moz-keyframes move {
    0% {top: -20%; }
    20% {top: -100%; }
    40% {top: -215%; }
    60% {top: -320%; } 
    }
  @-o-keyframes move{
  0% {top: -40%; }
  20% {top: -140%; }
  40% {top: -265%; }
  60% {top: -400%; } 
  }



/* Animacion Header */

@-webkit-keyframes tipsy {
  0 {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);
    transform: translateX(-50%) translateY(-50%) rotate(360deg); } }

@keyframes tipsy {
  0 {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);
    transform: translateX(-50%) translateY(-50%) rotate(360deg); } }

    


/* Particles-js background */
#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
}

/* particles container */
#particleWrapper {
  position: relative;
  width: 100%; 
  height: 100vh;
  margin: 0; 
  z-index: 2;
}

/* particles title */
.layer-1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: #023E73;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-shadow: #000;
  /* Centra el texto tanto vertical como horizontalmente */
  position: absolute;
  top: 40%;
  pointer-events: none;
  width: 100%;
}
@media (max-width: 650px) {
  .layer-1 {
    font-size: 2rem;
    top: 45%;
  }
}


.layer-2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #000000;
  margin: 0;
  padding: 0;
  width: 100%;
  

  /* Centra el texto tanto vertical como horizontalmente */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (max-width: 650px) {
  .layer-2 {
    font-size: 1rem;
    top: 60%;
  }
}


.layer-3 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #000000;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;

  /* Centra el texto tanto vertical como horizontalmente */
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (max-width: 650px) {
  .layer-3 {
    font-size: 1rem;
    top: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
}

/*Styles conteiner*/
.ourconteiner {
  position:relative;
  color:#000;
  padding:20px;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border-radius: .25rem;
}

/*Styles Services*/
.services {
  width:90%;
  margin:auto;
}

/*Styles Values*/
.values{
  width:90%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}



/*Styles Services*/
.services-esp{
  padding-top: 50px;
}

/*Style Video Services*/
video::-webkit-media-controls {
  display: none;
}
video::-webkit-media-controls-play-button {
  display: none;

}
video::-webkit-media-controls-volume-slider {
 display: none;
}
video::-webkit-media-controls-mute-button {
   display: none;

}
video::-webkit-media-controls-timeline {
   display: none;
}
video::-webkit-media-controls-current-time-display{
   display: none;
}


.services-heading{
  margin-top: 5rem; 
  margin-bottom: 5rem;
}

.services-section{
  margin-top: 5rem;
  margin-bottom: 8rem !important;
}


/*RESPONSIVE TEXT H2 TITLE SERVICES*/

@media (min-width: 320px) and (max-width: 425px) {
   h2{

    font-size: 45px;

   }
 }
 @media (min-width: 426px) and (max-width: 767px) {
 h2{

    font-size: 52px;

   }
}
@media (width:768px) {
h2{

    font-size: 55px;

   }
  
}
@media (min-width: 769px) and (max-width: 960px) {
h2{

    font-size: 60px;

   }
  }
@media  (max-width: 1024px) {
h2{

    font-size: 65px;
   }
  
}
@media (min-width: 1025px) and (max-width: 1440px) {
  
  h2{

    font-size: 100px;

   }
}
@media (min-width: 1441px) and (max-width: 1920px) {

  h2{

    font-size: 105px;

   }
  
  }


/*Carousel*/
.carousel {
  height: 50%; 
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
   height: 100%; 
}




/*Styles PortFolio*/
.portfolio {
  margin-bottom: -30px;
}

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 40rem;
  margin-bottom: 30px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: #0468BF;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}



.portfolio-modal .close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 2rem;
  line-height: 1rem;
  color: #000;
  opacity: 1;
}


.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}




/*Social Media*/
.social {
  position: fixed; /* Posición fija*/
  left: 0; /* Barra a la izquierda */
  top: 200px; /* Bajar la barra 200px de arriba a abajo */
  z-index: 1; /* z-index para que no se superponga algún otro elemento */
  margin-left: -50px;
}

.social ul {
  list-style: none;
}

.social ul li a {
  display: inline-block;
  color:#fff;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease; /* Transition */
}

/* Colors Social Media*/
.social ul li .icon-face {background:#497367;} 
.social ul li .icon-tw {background: #497367;}
.social ul li .icon-insta {background: #497367;}
.social ul li .icon-link {background: #497367;}
  

.social ul li a:hover {
  background: #F1F2D8;
  color: #497367; /* Fondo al pasar el mouse*/
  padding: 10px 30px; /* Se hace mas grande el espacio cuando se pasa el mouse */
}



/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #183940; 
  font-size: 10px;
}



.error_box {
	border: 3px solid hsl(0, 100%, 63%);
	padding: 1em;
}

.error_box.active {
	display: block;
}

.modal-dialog {
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	max-width:none !important;
}

.modal-content {
	background: #f1f2d8d2!important;
	animation-name: form-anim;
	animation-duration: .4s;
	margin: 0%;
	border: 0px solid rgba(0,0,0,0);
}

@keyframes form-anim {
	from {
		top: 100%;
	}
	to {
		top: 0%;
	}
}

.cerrar_modal {
  border: 2px solid #6c757d;
  box-shadow: 0 0 10px;
	border-radius: 40px;
	font-weight: 700;
	color: rgba(0,0,0,0.4);
  right: 3%;
  top: 2%;
  position: absolute;
  padding: 0.15em 1.5em 0.15em;
	font-size: 1.25em;
	background: none;
	z-index: 1;
   }
   
.cerrar_modal:hover, .cerrar_modal:focus {
  background: #6c757d;
	border: 1px solid #07030f23;
	color: #fff;
  box-shadow: none;
  transition: all .3s;
}

/* optional reset for presentation */
* {
  font-family: 'Montserrat', sans-serif;*/
  text-decoration: none;
  font-size: 20px;

}
.container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  padding-left: 10%;
  color: #28403D;
  text-shadow: 0 0 10px #183940;
  
}
span {
  display: block;
  margin-top: 3rem;
  font-size: .7rem;
  color: #777;
}

.modal-header {
	border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer {
	border-top: 1px solid #9ea2a2 !important;
}

.mail-btn {
	float: right;
	position:relative;
	display:none;
	padding:1.5em 0.1em 1.5em 0.1em;
	font-size:2rem;
	text-transform:uppercase;
	letter-spacing:0.5rem;
	text-indent:0.5rem;
	cursor:pointer;
	transition:
	color 1.5s .5s,
	border 3s 1s;
	border-color: #232529;
	color: #232529;
	background: #348331;
	border: 1px solid #348331;
	color: #524a4a;
	width: 100%;
	font-size: 1.25em;
	overflow: hidden;

}
.mail-btn:before,
.mail-btn:after {
  content:'';
  position:absolute;
  opacity:0;
  backface-visibility:visible;
  transform-style:preserve-3d;
  perspective:400px;
  transform-origin:50% -50%;
  transform:rotateX(360deg) rotateY(0) translateX(-50%) translateY(0) scale(0.2);
  transition:all 0.5s;
}
.mail-btn:before {
  top:5px;
  left:50%;
  height:3rem;
  background:#ffffff;
  border-top:2rem solid #2980b9;
  border-right:3rem solid transparent;
  border-left:3rem solid transparent;
  box-shadow: 0 0 5px #2980b9;
}
.mail-btn:after {
  top:0;
  left:50%;
  border-top:2rem solid #ffffff;
  border-right:3rem solid transparent;
  border-left:3rem solid transparent;
}
.mail-btn:hover {
  color:rgba(255,255,255,0);
  border:2px solid rgba(255,255,255,0);
  transition:
    color .25s,
    border .25s;
}
.mail-btn:hover:before,
.mail-btn:hover:after {
  opacity:1;
  transform:rotateX(0) rotateY(-10deg) translateX(-50%) translateY(0) scale(1);
}
.fly {
  color:rgba(255,255,255,0);
  border:2px solid rgba(255,255,255,0);
  animation:sended 4s 0.8s forwards;
}
@keyframes sended {
  0% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:0;
    transform:rotate(-45deg) translateX(300%) translateY(-500%);
  }
  5% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:1;
    transform:rotate(-45deg) translateX(0) translateY(0);
  }
  78% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:1;
    transform:rotate(-45deg) translateX(0) translateY(0);
  }
  79% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:0;
    transform:rotate(-45deg) translateX(0) translateY(0);
  }
  80% {
    height:auto;
    width:auto;
    color:rgba(255,255,255,0);
    border:2px solid rgba(255,255,255,0);
    opacity:0;
    transform:rotate(0) translateX(0) translateY(0);
  }
  100% {
    height:auto;
    width:auto;
    color:rgba(255,255,255,1);
    border:2px solid rgba(255,255,255,0.5);
    opacity:1;
    transform:rotate(0) translateX(0) translateY(0);
  }
}
.fly:before,
.fly:after {animation:flyout .6s forwards;}
@keyframes flyout {
  0% {
    opacity:1;
    transform:rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
  }
  33% {
    opacity:0.66;
    transform:rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
  }
  100% {
    opacity:0;
    transform:rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
  }
}

#pais{
  display: block;
	position: relative;
	cursor: pointer;
	padding: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

select{
  display: block;
  margin: 0;
  padding: 0 0 0.15em;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  background-color: transparent;
  color: #524a4a;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 0;
}

select:focus, select:hover{
    background: rgba(0,0,0,0);
    box-shadow: 0 0 5px;
}

.errorcss{
  box-shadow: rgb(247, 10, 10) 0px 0px 30px;
  border-radius: 15px;
  padding: 1em !important;
}

.botonflotante{
  position: fixed;
	right: 0%;
  bottom: 0%;
  z-index: 1;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin:0;
}

input[ type="number"]{
  -moz-appearance: textfield;
}

@media (max-width: 455px) {
  .fs-fields > li {
    margin-top: 4em;
  }

  .fs-form-wrap {
		font-size: 60%;
	}
}

@media (min-width: 680px) {
  
  .telefonoFlex{
    display:flex;
  }
  
}

/* Eatilos para boton de correo */

.emoji-mart,
.emoji-mart * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.15;
}

.emoji-mart {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-size: 16px;
    display: inline-block;
    color: #222427;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background: #fff;
}

.emoji-mart .emoji-mart-emoji {
    padding: 6px;
}

.emoji-mart-bar {
    border: 0 solid #d9d9d9;
}
.emoji-mart-bar:first-child {
    border-bottom-width: 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.emoji-mart-bar:last-child {
    border-top-width: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.emoji-mart-anchors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 6px;
    color: #858585;
    line-height: 0;
}

.emoji-mart-anchor {
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    padding: 12px 4px;
    overflow: hidden;
    -webkit-transition: color 0.1s ease-out;
    -o-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
}
.emoji-mart-anchor:hover,
.emoji-mart-anchor-selected {
    color: #464646;
}

.emoji-mart-anchor-selected .emoji-mart-anchor-bar {
    bottom: 0;
}

.emoji-mart-anchor-bar {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #464646;
}

.emoji-mart-anchors i {
    display: inline-block;
    width: 100%;
    max-width: 22px;
}

.emoji-mart-anchors svg {
    fill: currentColor;
    max-height: 18px;
}

.emoji-mart-scroll {
    overflow-y: scroll;
    height: 270px;
    padding: 0 6px 6px 6px;
    will-change: transform; /* avoids "repaints on scroll" in mobile Chrome */
}

.emoji-mart-search {
    margin-top: 6px;
    padding: 0 6px;
}
.emoji-mart-search input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 0.2em 0.6em;
    border-radius: 25px;
    border: 1px solid #d9d9d9;
    outline: 0;
}

.emoji-mart-category .emoji-mart-emoji span {
    z-index: 1;
    position: relative;
    text-align: center;
    cursor: default;
}

.emoji-mart-category .emoji-mart-emoji:hover:before {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    border-radius: 100%;
}

.emoji-mart-category-label {
    z-index: 2;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.emoji-mart-category-label span {
    display: block;
    width: 100%;
    font-weight: 500;
    padding: 5px 6px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.95);
}

.emoji-mart-emoji {
    position: relative;
    display: inline-block;
    font-size: 0;
}

.emoji-mart-no-results {
    font-size: 14px;
    text-align: center;
    padding-top: 70px;
    color: #858585;
}
.emoji-mart-no-results .emoji-mart-category-label {
    display: none;
}
.emoji-mart-no-results .emoji-mart-no-results-label {
    margin-top: 0.2em;
}
.emoji-mart-no-results .emoji-mart-emoji:hover:before {
    content: none;
}

.emoji-mart-preview {
    position: relative;
    height: 70px;
}

.emoji-mart-preview-emoji,
.emoji-mart-preview-data,
.emoji-mart-preview-skins {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.emoji-mart-preview-emoji {
    left: 12px;
}

.emoji-mart-preview-data {
    left: 68px;
    right: 12px;
    word-break: break-all;
}

.emoji-mart-preview-skins {
    right: 30px;
    text-align: right;
}

.emoji-mart-preview-name {
    font-size: 14px;
}

.emoji-mart-preview-shortname {
    font-size: 12px;
    color: #888;
}
.emoji-mart-preview-shortname + .emoji-mart-preview-shortname,
.emoji-mart-preview-shortname + .emoji-mart-preview-emoticon,
.emoji-mart-preview-emoticon + .emoji-mart-preview-emoticon {
    margin-left: 0.5em;
}

.emoji-mart-preview-emoticon {
    font-size: 11px;
    color: #bbb;
}

.emoji-mart-title span {
    display: inline-block;
    vertical-align: middle;
}

.emoji-mart-title .emoji-mart-emoji {
    padding: 0;
}

.emoji-mart-title-label {
    color: #999a9c;
    font-size: 26px;
    font-weight: 300;
}

.emoji-mart-skin-swatches {
    font-size: 0;
    padding: 2px 0;
    border: 1px solid #d9d9d9;
    border-radius: 12px;
    background-color: #fff;
}

.emoji-mart-skin-swatches-opened .emoji-mart-skin-swatch {
    width: 16px;
    padding: 0 2px;
}

.emoji-mart-skin-swatches-opened .emoji-mart-skin-swatch-selected:after {
    opacity: 0.75;
}

.emoji-mart-skin-swatch {
    display: inline-block;
    width: 0;
    vertical-align: middle;
    -webkit-transition-property: width, padding;
    -o-transition-property: width, padding;
    transition-property: width, padding;
    -webkit-transition-duration: 0.125s;
    -o-transition-duration: 0.125s;
    transition-duration: 0.125s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.emoji-mart-skin-swatch:nth-child(1) {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.emoji-mart-skin-swatch:nth-child(2) {
    -webkit-transition-delay: 0.03s;
    -o-transition-delay: 0.03s;
    transition-delay: 0.03s;
}
.emoji-mart-skin-swatch:nth-child(3) {
    -webkit-transition-delay: 0.06s;
    -o-transition-delay: 0.06s;
    transition-delay: 0.06s;
}
.emoji-mart-skin-swatch:nth-child(4) {
    -webkit-transition-delay: 0.09s;
    -o-transition-delay: 0.09s;
    transition-delay: 0.09s;
}
.emoji-mart-skin-swatch:nth-child(5) {
    -webkit-transition-delay: 0.12s;
    -o-transition-delay: 0.12s;
    transition-delay: 0.12s;
}
.emoji-mart-skin-swatch:nth-child(6) {
    -webkit-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.emoji-mart-skin-swatch-selected {
    position: relative;
    width: 16px;
    padding: 0 2px;
}
.emoji-mart-skin-swatch-selected:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    margin: -2px 0 0 -2px;
    background-color: #fff;
    border-radius: 100%;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.emoji-mart-skin {
    display: inline-block;
    width: 100%;
    padding-top: 100%;
    max-width: 12px;
    border-radius: 100%;
}

.emoji-mart-skin-tone-1 {
    background-color: #ffc93a;
}
.emoji-mart-skin-tone-2 {
    background-color: #fadcbc;
}
.emoji-mart-skin-tone-3 {
    background-color: #e0bb95;
}
.emoji-mart-skin-tone-4 {
    background-color: #bf8f68;
}
.emoji-mart-skin-tone-5 {
    background-color: #9b643d;
}
.emoji-mart-skin-tone-6 {
    background-color: #594539;
}


svg{width:26px;height:26px;fill:#fff;transition:all 0.2s ease-in-out}#button{position:absolute;width:112px;height:4em;bottom:12px;display:flex;align-items:center;justify-content:center;pointer-events:none;z-index:1;right:0}#button:not(.sidebar) .buttonWave{position:absolute;z-index:-1;width:60px;height:60px;bottom:50%;right:50%;transform:translate3d(50%, 50%, 0)}#button:not(.sidebar) .buttonWave:after{content:'';position:absolute;z-index:-1;width:60px;height:60px;border-radius:60px;background-color:#147fff;opacity:0.5}#button:not(.sidebar).clicked .buttonWave:after{-webkit-animation:buttonWave 0.8s;animation:buttonWave 0.8s}#button.chat-open:not(.sidebar){right:0;left:auto}#button button{border:0}#button button.disabled i.type1 svg{fill:#fff}#button button i{height:26px;width:26px;position:absolute;opacity:0;transition:all 0.2s ease-in-out;top:50%;display:flex;left:50%;transform:translate3d(-50%, -50%, 0)}#button button i.active{opacity:1}#button button i.type1{width:26px;height:26px}#button button i.type1 svg{fill:currentColor}#button button i.type1::after{content:'';position:absolute;top:15px;width:0;height:0;background:#fff;border-radius:0;transition:all 0.2s ease-in-out;left:15px}#button button i.type1.for-opened{width:31px;height:28px}#button button i.type1.for-opened svg{width:28px;height:28px;margin-left:3px}#button button i.type2{width:0;height:0}#button button i.type2 svg{width:0;height:0;fill:currentColor}#button button i.for-closed{margin-left:-10px}#button button i.for-closed.active{margin-left:0}#button button i.for-opened{margin-left:10px}#button button i.for-opened.active{margin-left:0}body:not(.mobile) #button button:hover i.type1,body:not(.mobile) #button button:focus i.type1{width:50px;height:50px}body:not(.mobile) #button button:hover i.type1 svg,body:not(.mobile) #button button:focus i.type1 svg{width:47px;height:47px;margin-left:1px}body:not(.mobile) #button button:hover i.type1::after,body:not(.mobile) #button button:focus i.type1::after{width:68px;height:68px;border-radius:32px;top:-9px;left:-9px}body:not(.mobile) #button button:hover i.type2,body:not(.mobile) #button button:focus i.type2{width:32px;height:32px}body:not(.mobile) #button button:hover i.type2 svg,body:not(.mobile) #button button:focus i.type2 svg{width:32px;height:32px}body:not(.mobile) #button .sidebar-content:hover+#button-body{bottom:19px;width:34px;height:34px;border-radius:30px;transition:all 0.01s ease-in-out 0.15s;right:6px}body:not(.mobile) #button .sidebar-content:hover+button i.type1{width:26px;height:26px}body:not(.mobile) #button .sidebar-content:hover+button i.type1 svg{width:26px;height:26px}body:not(.mobile) #button .sidebar-content:hover+button i.type1::after{top:-2px;width:30px;height:30px;border-radius:28px;left:-2px}body:not(.mobile) #button .sidebar-content:hover+button i.type2{width:15px;height:15px}body:not(.mobile) #button .sidebar-content:hover+button i.type2 svg{width:15px;height:15px}#button.sidebar{width:50px;pointer-events:auto}#button.sidebar svg{width:15px;height:15px}.sidebar-position-left #button.sidebar{left:0;right:auto}.sidebar-position-left #button.sidebar .sidebar-content{transform-origin:left top;transform:rotate(270deg);left:0;right:auto;border-bottom-right-radius:4px;border-bottom-left-radius:28px;padding:0 20px 0 30px}.sidebar-position-left #button.sidebar #button-body{left:7px}#button.sidebar .sidebar-content{background:#313fa0;color:#fff;padding:0 30px 0 20px;font-size:14px;line-height:30px;height:30px;font-weight:700;position:relative;overflow:hidden;border-bottom-right-radius:28px;border-bottom-left-radius:4px;transform:rotate(90deg);transform-origin:right top;position:absolute;bottom:0;right:0;white-space:nowrap;max-width:400px}#button.sidebar .sidebar-content span{display:inline-block;transform:rotate(180deg);max-width:265px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}#button.sidebar .sidebar-content:hover{cursor:pointer}#button.sidebar #button-body{position:absolute;right:7px;bottom:20px;width:32px;height:32px;box-shadow:0 6px 20px 0 rgba(0,18,46,0.24)}#button.sidebar #button-body.disabled{cursor:not-allowed}body:not(.mobile) #button.sidebar #button-body:hover,body:not(.mobile) #button.sidebar #button-body:focus{bottom:19px;right:6px;width:34px;height:34px;border-radius:30px;transition:all 0.01s ease-in-out 0.15s}#button.sidebar button{border:0}#button.sidebar button i{height:14px;width:14px;position:absolute;opacity:0;transition:all 0.2s ease-in-out;top:50%;left:50%;transform:translate3d(-50%, -50%, 0);display:flex}#button.sidebar button i.active{opacity:1}#button.sidebar button i.type1{width:15px;height:15px}#button.sidebar button i.type1::after{content:'';position:absolute;left:8px;top:8px;width:0;height:0;background:#fff;border-radius:0;transition:all 0.2s ease-in-out}#button.sidebar button i.type2{width:0;height:0}#button.sidebar button i.type2 svg{width:0;height:0;fill:currentColor}#button.sidebar button i.for-closed{margin-left:-5px}#button.sidebar button i.for-closed.active{margin-left:0px}#button.sidebar button i.for-opened{margin-left:5px}#button.sidebar button i.for-opened svg{width:18px;height:15px}#button.sidebar button i.for-opened.active{margin-left:0px}body:not(.mobile) #button.sidebar button:hover i.type1,body:not(.mobile) #button.sidebar button:focus i.type1{width:26px;height:26px}body:not(.mobile) #button.sidebar button:hover i.type1 svg,body:not(.mobile) #button.sidebar button:focus i.type1 svg{width:26px;height:26px}body:not(.mobile) #button.sidebar button:hover i.type1::after,body:not(.mobile) #button.sidebar button:focus i.type1::after{left:-2px;top:-2px;width:30px;height:30px;border-radius:28px}body:not(.mobile) #button.sidebar button:hover i.type2,body:not(.mobile) #button.sidebar button:focus i.type2{width:15px;height:15px}body:not(.mobile) #button.sidebar button:hover i.type2 svg,body:not(.mobile) #button.sidebar button:focus i.type2 svg{width:15px;height:15px}body:not(.mobile) #button.sidebar button:active i.type2{width:15px;height:15px}body:not(.mobile) #button.sidebar button:active i.type2 svg{width:15px;height:15px}#button-body{width:60px;height:60px;border-radius:28px;cursor:pointer;display:inherit;align-items:center;justify-content:center;pointer-events:initial;background-size:130% 130%;position:relative;outline:none;will-change:transform}#button-body:not(.ie){transition:all 0.2s ease-in-out}#button-body.disabled{cursor:not-allowed}#button-body:hover,#button-body:focus{outline:none}body:not(.mobile) #button-body:hover,body:not(.mobile) #button-body:focus{transform:scale(1.1)}#new-message{position:absolute;top:37px;font-size:12px;font-weight:700;color:#fff;background:#f72e38;border-radius:10px;opacity:0;pointer-events:none;z-index:2;right:23px;padding:1.64px 6.8px 3.04px 6px}#new-message+#dnd-indicator{right:12px}#new-message.active{opacity:1;pointer-events:auto;-webkit-animation:shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;animation:shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both}#dnd-indicator{position:absolute;top:37px;font-weight:700;color:#fff;background:#374ca6;border-radius:10px;width:20px;height:19.5px;z-index:1;text-align:center;transition:all 0.1s ease-in-out;overflow:hidden;right:23px}#dnd-indicator svg{width:12px;height:12px}@-webkit-keyframes shake{10%,90%{right:22px}20%,80%{right:24px}30%,50%,70%{right:21px}40%,60%{right:25px}}@keyframes shake{10%,90%{right:22px}20%,80%{right:24px}30%,50%,70%{right:21px}40%,60%{right:25px}}@-webkit-keyframes buttonWave{50%{transform:scale(2);opacity:0}100%{transform:scale(1);opacity:0}}@keyframes buttonWave{50%{transform:scale(2);opacity:0}100%{transform:scale(1);opacity:0}}*:focus{outline:thin dotted}.chat{width:372px;position:absolute;bottom:26px;border-radius:16px;pointer-events:auto;box-shadow:0 8px 22px 0 rgba(0,18,46,0.16);overflow:hidden;z-index:1;right:48px;left:auto}.chat.not-ie{max-height:calc(100% - 47px);display:flex;flex-direction:column}.chat.chrome{box-shadow:0 8px 36px 0 rgba(0,18,46,0.16)}.chat.safari{box-shadow:0 8px 30px 0 rgba(0,18,46,0.16)}.chat.ie{box-shadow:0 8px 40px 0 rgba(0,18,46,0.16)}.chat-on-site .chat{box-shadow:0 8px 26px 0 rgba(0,18,46,0.16)}.chat-in-preview .chat{box-shadow:0 8px 18px 0 rgba(0,18,46,0.16)}.chat svg{width:24px;height:24px}.chat-header{padding:24px 28px 0;background:linear-gradient(-61deg, #00e0d8, #201d8e);position:relative;z-index:4}.not-ie .chat-header{flex:0 0 auto}.chat-header.project-online{padding:24px 28px 0}.chat-header #ic_close{height:28px;width:28px}.chat ::-webkit-scrollbar{display:none}.avatars-wrapper{width:52px;height:52px;margin:0px 18px 0 0;float:left}.operators-avatar-2{padding-top:11px}.operators-avatar-0{display:none}.header-ava{width:52px;height:52px;border-radius:24px;background-size:cover;background-position:center;background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAMDAwMDAwQEBAQFBQUFBQcHBgYHBwsICQgJCAsRCwwLCwwLEQ8SDw4PEg8bFRMTFRsfGhkaHyYiIiYwLTA+PlQBAwMDAwMDBAQEBAUFBQUFBwcGBgcHCwgJCAkICxELDAsLDAsRDxIPDg8SDxsVExMVGx8aGRofJiIiJjAtMD4+VP/CABEIADwAPAMBIgACEQEDEQH/xAAcAAEAAQUBAQAAAAAAAAAAAAAABgEDBAUHAgn/2gAIAQEAAAAA+lYAj8cy5ndHO8VNN0IFrk62gjEYudH9iLQPN6lec+0VmtG038L9UpWh/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/aAAgBAhAAAAAAAP/EABQBAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQMQAAAAAAD/xAAuEAABAwMACAUEAwAAAAAAAAABAgMEAAURBhASEyAhQVEiMmKRwSNxcoExQqH/2gAIAQEAAT8A14PHdbuuMvcMY2wPGs88Z6ClT5qzlUh0n8qjXmawoFay8jqlfwaZebkNIdbOUrGRwCpxJmySf53qtdgJNu+zq+G7N7u4yPUoK9xrsyC3bWfUVL9zw6QxiS1IA5Y2F/Gpplb7qGkeZasCkNpabQhPlQkJH64CMDJ5DvWkk+Gu3uRm3wp5ak42Dkp2TnJNC4S2hhyPvT0Wg4z9xVqmuN3SNJl/TabUcITzxkY2j3piRHkjLLrbg9Ks1gjVL0nnvLVuAllHTllf7Jp+VKknLz7jn5K+KAAGNY8JykkHuDg0xe7rG5JkqUB/VY2x/tR9LkBvEmMsud2/KfeumrtXSu9dKFZNf//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQIBAT8AB//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AB//Z);float:left}.mobile .header-ava{width:42px;height:42px;border-radius:19px}.operators-avatar-2 .header-ava{width:30px;height:30px;margin-left:-6px}.operators-avatar-3 .header-ava{width:28px;height:28px}.operators-avatar-3 .header-ava:last-child{margin-left:-5px}.operators-avatar-3 .header-ava:first-child{clear:both;float:none;margin:0 auto}.operators-avatar-3 .header-ava:not(:first-child){margin-top:-4px}.operators-avatar-4 .header-ava{width:28px;height:28px}.operators-avatar-4 .header-ava:nth-child(2n){margin-left:-5px}.operators-avatar-4 .header-ava:nth-child(n+3){margin-top:-4px}.mobile .operators-avatar-2 .header-ava{width:26px;height:26px}.mobile .operators-avatar-3 .header-ava{width:23px;height:23px}.mobile .operators-avatar-3 .header-ava:first-child{margin-top:2px}.mobile .operators-avatar-4 .header-ava{width:23px;height:23px}.mobile .operators-avatar-4 .header-ava:nth-child(-n+2){margin-top:2px}.chat h2{font-size:22px;font-weight:600;color:currentColor;margin:4px 0 0 0;padding:0;display:inline-block;position:relative;max-width:calc(100% - 145px);text-overflow:ellipsis;white-space:nowrap;overflow:hidden;vertical-align:bottom}.chat h2 .emoji{width:31px;height:31px}.chat h2.oneline{margin-top:0;font-size:22px;line-height:52px}.chat h2.twolines{margin-bottom:5px}.chat h2 .top-heading{font-size:16px;display:block;line-height:15px;margin-top:4px}.heading-hover{position:absolute;color:#fff;background:rgba(0,0,0,0.88);top:70px;font-size:13px;padding:10px 15px;z-index:3;width:auto;border-radius:8px;max-width:100%;opacity:0;transition:opacity 0.3s ease-in-out;left:50px}.chat h2:hover+.heading-hover{opacity:1}#conversation-group{padding:0 28px;width:100%;height:357px;overflow-y:auto;overflow-x:hidden;will-change:auto;-ms-overflow-style:none;background:#fff;transition:all 0.3s;max-height:357px;min-height:160px}#conversation-group.ios-ipad{-webkit-overflow-scrolling:touch;width:calc(100% + 6px);margin-right:0}#conversation-group .uploadIconWrapper{position:absolute;display:flex;height:100%;width:100%;align-items:center;justify-content:center;top:0;left:0;right:0;z-index:3}#conversation-group .uploadIconWrapper span{font-size:19px;max-width:120px;text-align:center;color:#080f1a;line-height:1.3}#conversation-group .uploadIconWrapper .ic_upload{fill:#287efc;width:73px;height:73px;margin-bottom:10px;margin-top:-5px}#conversation-group .upload-circle{width:230px;height:230px;border-radius:50%;background:rgba(182,198,229,0.24);display:flex;flex-direction:column;align-items:center;justify-content:center;-webkit-animation:scale-up 0.3s ease;animation:scale-up 0.3s ease;position:relative;z-index:1}#conversation-group.drag-active::after{content:'';position:absolute;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background:rgba(255,255,255,0.92);z-index:2;-webkit-animation:fade-in 0.3s ease;animation:fade-in 0.3s ease}.not-ie #conversation-group{flex:0 1 auto}.transition-container #conversation-group{flex:1 1}.not-ie .transition-container{height:399px;background:#fff;flex:0 1 auto;min-height:160px;position:relative;display:flex;flex-direction:column}.transition-container #conversation-group{overflow-y:hidden}#messages{position:relative;-ms-overflow-style:none;margin-top:10px;width:100%;padding-bottom:24px;float:left}.message{padding:10px 16px;border-radius:20px;margin:2px 0;font-size:15px;line-height:20px;word-wrap:break-word;display:inline-block;max-width:85%;clear:both;position:relative;transition:margin 0.28s ease-in-out}.message.timestamp-visible{margin-bottom:28px}.message span.message-content{white-space:pre-line}.message.log{padding:0 24px;margin-top:6px;margin-bottom:16px;font-size:12px;line-height:16px;word-wrap:break-word;width:316px !important;max-width:316px;clear:both;position:relative;text-align:center;color:#8894ab;font-style:italic;float:left}.message-visitor{color:#fff;background:linear-gradient(332deg, #21dbdb, #2979ff);float:right}.message-visitor+.message-operator{margin-top:9px}.message-visitor span a{color:currentColor}.message-visitor.not-delivered{border:1px solid #f0f2f7;background:#fff;color:#8894ab;margin-bottom:22px;white-space:nowrap}.message-visitor.not-delivered .resend-message{position:absolute;bottom:-22px;display:block;font-size:12px;display:inline-flex;white-space:nowrap;right:0}.message-visitor.not-delivered .resend-message button{background:none;border:0;color:#5798f7;vertical-align:middle;outline:none;cursor:pointer;display:inline-flex;font-size:12px}.message-visitor.not-delivered .resend-message button svg{width:14px;height:14px;fill:#5798f7;margin-left:3px}.message-visitor.not-delivered .resend-message button:hover svg{-webkit-animation:rotating 1s linear infinite;animation:rotating 1s linear infinite}@-webkit-keyframes rotating{from{transform:rotate(0deg);-o-transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg)}to{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}}@keyframes rotating{from{transform:rotate(0deg);-o-transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg)}to{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}}.message-operator{color:#06132b;background:#f0f2f7;float:left}.message-operator span a{color:#06132b}.message-operator+.message-visitor{margin-top:9px}.message-operator.message-with-buttons,.message-operator .message-with-buttons,.message-operator.bots-quick-replies{padding-left:0;padding-right:0;padding-bottom:0;max-width:95%}.message-operator.message-with-buttons.buttons-hidden,.message-operator .message-with-buttons.buttons-hidden,.message-operator.bots-quick-replies.buttons-hidden{padding-bottom:10px}.message-operator.message-with-buttons>span,.message-operator .message-with-buttons>span,.message-operator.bots-quick-replies>span{padding:0 16px;display:inline-block;word-break:break-word}.message-operator.message-with-buttons .button-wrapper,.message-operator .message-with-buttons .button-wrapper,.message-operator.bots-quick-replies .button-wrapper{background:#fff;width:100%;margin-top:10px;border:1px solid #ebeef0;border-bottom-left-radius:20px;border-bottom-right-radius:20px;border-top:0;position:relative}.message-operator.message-with-buttons button,.message-operator .message-with-buttons button,.message-operator.bots-quick-replies button{margin:0 auto;min-width:100%;display:block;font-size:16px;line-height:19px;padding:8px 16px;cursor:pointer;border:0;border-bottom:1px solid #ebeef0;color:#007dfc;background:transparent;position:relative;z-index:2;font-family:'Muli', sans-serif}.message-operator.message-with-buttons button:hover,.message-operator .message-with-buttons button:hover,.message-operator.bots-quick-replies button:hover{text-decoration:underline}.message-operator .message-with-buttons button,.message-operator.message-with-buttons button{outline:none}.message-operator .message-with-buttons button:last-child,.message-operator.message-with-buttons button:last-child{border-bottom:0}.message-operator.bots-quick-replies{width:85%;background-color:#fff;margin-top:0;float:right}.message-operator.bots-quick-replies .button-wrapper{margin-top:0;display:flex;flex-wrap:wrap;justify-content:flex-end;width:100%;border:none}.message-operator.bots-quick-replies button{font-size:15px;padding:8px 16px;cursor:pointer;border:1px solid;border-radius:20px;margin:3px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;min-width:inherit}.message-operator.bots-quick-replies button:hover{text-decoration:underline}.message-operator.bots-card-gallery{padding:0 28px;max-width:calc(100% + 56px);background:transparent;overflow:auto;border-radius:0;display:flex;-ms-scroll-snap-type:x mandatory;scroll-snap-type:x mandatory;scroll-padding:28px;scroll-behavior:smooth;margin-bottom:5px;scrollbar-width:none;margin-left:-28px}.message-operator.bots-card-gallery .ios-ipad{-webkit-overflow-scrolling:touch}.safari .message-operator.bots-card-gallery{-ms-scroll-snap-type:x mandatory;scroll-snap-type:x mandatory}.message-operator.bots-card-gallery.bots-card-gallery-single-card{display:block;margin-left:auto;margin-right:auto;width:100%}.message-operator.bots-card-gallery.bots-card-gallery-single-card .card{max-width:240px;margin:auto}.message-operator.bots-card-gallery.bots-card-gallery-multiple-cards .card:last-child{min-width:268px;padding-right:28px}.message-operator.bots-card-gallery .card{max-width:100%;min-width:240px;scroll-snap-align:center;margin:0 10px 0 0}.message-operator.bots-card-gallery .card .card-content-wrapper{padding:9px 12px 8px;border:1px solid #ebeef0;border-top:none}.message-operator.bots-card-gallery .card .card-image{border-radius:14px 14px 0 0;height:122px;background:#fff no-repeat center center;background-size:cover;border:1px solid #ebeef0;border-bottom:0}.message-operator.bots-card-gallery .card .card-title{font-size:15px;line-height:19px;font-weight:bold;color:#00122e}.message-operator.bots-card-gallery .card .card-subtitle{margin:4px 0 0;line-height:16.5px;font-size:14px;color:#4c596b}.message-operator.bots-card-gallery .card .card-subtitle .emoji{width:15px;margin:0 0 -2px 2px}.message-operator.bots-card-gallery .card .card-url{font-size:14px;line-height:17px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#00122e}.message-operator.bots-card-gallery .card .card-url a{opacity:0.5}.message-operator.bots-card-gallery .card a{text-decoration:none;color:#00122e}.message-operator.bots-card-gallery .card a:hover,.message-operator.bots-card-gallery .card a:focus,.message-operator.bots-card-gallery .card a:active,.message-operator.bots-card-gallery .card a:visited{color:#00122e;outline:none}.message-operator.bots-card-gallery .card a:hover{text-decoration:underline}.message-operator.bots-card-gallery .card .card-buttons .button-wrapper{margin:0}.message-operator.bots-card-gallery .card .card-buttons .button-wrapper:before{content:none}.message-operator.bots-card-gallery .card .card-buttons .button-wrapper button{width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.message-operator.bots-card-gallery.bots-card-gallery-without-images .card-content-wrapper{border-radius:14px 14px 0 0;border-top:1px solid #ebeef0}.message-operator.buttons-message{padding:0;max-width:90%}.message-operator.buttons-message .message-with-buttons{max-width:100%}.message-operator.buttons-message .message-with-buttons-text{padding:9px 16px 1px;line-height:19px}.message-operator.message-alert{border:2px solid #dee3e8;background:#fff !important;margin-bottom:22px;position:relative}.message-operator.message-alert svg.alert-icon{height:20px;width:20px;fill:red;position:absolute;top:-5px;background:#fff;right:-5px}.message-operator.typing-indicator{text-align:left}.message-operator.typing-indicator span{height:4px;width:4px;margin:11px 1px 0 1px;background-color:#000;display:inline-block;border-radius:50%;opacity:0.4;-webkit-animation:blink 1.3s linear infinite;animation:blink 1.3s linear infinite}.message-operator.typing-indicator span:first-child{margin-left:4px}.message-operator.typing-indicator span:nth-child(2){-webkit-animation-delay:-1.1s;animation-delay:-1.1s}.message-operator.typing-indicator span:nth-child(3){-webkit-animation-delay:-0.9s;animation-delay:-0.9s}@-webkit-keyframes blink{0%,60%,100%{transform:initial}30%{transform:translateY(-5px)}}@keyframes blink{0%,60%,100%{transform:initial}30%{transform:translateY(-5px)}}.bots-card-gallery-button-wrapper{position:relative;clear:both;width:100%;float:left}.bots-card-gallery-button-wrapper.bots-card-gallery-without-images .bots-card-gallery-scroll-button{top:22px}.bots-card-gallery-scroll-button{position:absolute;background:#fff;padding:0;border:0;border-radius:50%;width:42px;height:42px;box-shadow:0 4px 12px 0 rgba(0,0,0,0.24);cursor:pointer;z-index:3;top:140px;outline:none;transition:box-shadow 0.2s, opacity 0.2s}.bots-card-gallery-scroll-button:hover{box-shadow:0 8px 12px 0 rgba(0,0,0,0.24)}.bots-card-gallery-scroll-button.scroll-button-right{right:-18px}.bots-card-gallery-scroll-button.scroll-button-right svg{transform:rotate(-90deg)}.ie .bots-card-gallery-scroll-button.scroll-button-right{right:-18px}.ie .bots-card-gallery-scroll-button.scroll-button-right svg{transform:rotate(-90deg)}.bots-card-gallery-scroll-button.scroll-button-left{left:-18px}.bots-card-gallery-scroll-button.scroll-button-left svg{transform:rotate(90deg)}.ie .bots-card-gallery-scroll-button.scroll-button-left{left:-18px}.ie .bots-card-gallery-scroll-button.scroll-button-left svg{transform:rotate(90deg)}.bots-card-gallery-scroll-button svg{width:42px;height:42px}.message .emoji{margin:0 0 -5px 2px}.message .messageTimestamp{font-size:12px;color:#8894ab;position:absolute;transition:all 0.2s;white-space:nowrap}.messageTimestamp{bottom:-24px;opacity:1;transition:all 0.2s;transform:translate3d(0, 0, 0)}.message-operator .messageTimestamp{height:23px;display:flex;align-items:center;top:calc(100% + 4px);left:12px}.message-visitor .messageTimestamp{right:12px}.shake{-webkit-animation:shakeMessage 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;animation:shakeMessage 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both}.pre-chat,.rate-comment,.always-online{max-width:95%}.pre-chat .field-wrapper,.rate-comment .field-wrapper,.always-online .field-wrapper{position:relative;left:0}.pre-chat .field-wrapper.field-wrapper-with-error input,.rate-comment .field-wrapper.field-wrapper-with-error input,.always-online .field-wrapper.field-wrapper-with-error input{border-color:#f6303a}.pre-chat svg,.rate-comment svg,.always-online svg{width:19px;height:19px;position:absolute;top:8px;fill:green;left:9px}.pre-chat svg#ic_arrow,.rate-comment svg#ic_arrow,.always-online svg#ic_arrow{fill:#349ef3;transform:rotate(45deg)}.pre-chat svg#ic_close,.rate-comment svg#ic_close,.always-online svg#ic_close{fill:red}.pre-chat input,.rate-comment input,.always-online input{display:block;width:100%;border:0;margin-top:10px;font-size:16px;padding:7px;border-radius:5px;margin-bottom:5px;padding-top:6px;padding-left:35px}.pre-chat input[type='checkbox'],.rate-comment input[type='checkbox'],.always-online input[type='checkbox']{position:absolute;width:auto;display:inline-block;margin:0;top:9px;left:11px}.pre-chat label,.rate-comment label,.always-online label{font-size:12px;line-height:14px;text-align:justify;display:inline-block;min-height:24px;margin-left:5px;padding:10px 5px 0 31px}.pre-chat label a,.rate-comment label a,.always-online label a{word-break:break-all}.timestamp-avatar{width:23px;height:23px;position:absolute;top:0;background-position:center;background-size:cover;border-radius:25px;background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAMDAwMDAwQEBAQFBQUFBQcHBgYHBwsICQgJCAsRCwwLCwwLEQ8SDw4PEg8bFRMTFRsfGhkaHyYiIiYwLTA+PlQBAwMDAwMDBAQEBAUFBQUFBwcGBgcHCwgJCAkICxELDAsLDAsRDxIPDg8SDxsVExMVGx8aGRofJiIiJjAtMD4+VP/CABEIADwAPAMBIgACEQEDEQH/xAAcAAEAAQUBAQAAAAAAAAAAAAAABgEDBAUHAgn/2gAIAQEAAAAA+lYAj8cy5ndHO8VNN0IFrk62gjEYudH9iLQPN6lec+0VmtG038L9UpWh/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/aAAgBAhAAAAAAAP/EABQBAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQMQAAAAAAD/xAAuEAABAwMACAUEAwAAAAAAAAABAgMEAAURBhASEyAhQVEiMmKRwSNxcoExQqH/2gAIAQEAAT8A14PHdbuuMvcMY2wPGs88Z6ClT5qzlUh0n8qjXmawoFay8jqlfwaZebkNIdbOUrGRwCpxJmySf53qtdgJNu+zq+G7N7u4yPUoK9xrsyC3bWfUVL9zw6QxiS1IA5Y2F/Gpplb7qGkeZasCkNpabQhPlQkJH64CMDJ5DvWkk+Gu3uRm3wp5ak42Dkp2TnJNC4S2hhyPvT0Wg4z9xVqmuN3SNJl/TabUcITzxkY2j3piRHkjLLrbg9Ks1gjVL0nnvLVuAllHTllf7Jp+VKknLz7jn5K+KAAGNY8JykkHuDg0xe7rG5JkqUB/VY2x/tR9LkBvEmMsud2/KfeumrtXSu9dKFZNf//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQIBAT8AB//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AB//Z);padding-left:23px;left:0}.timestamp-avatar+span{margin-left:30px;margin-right:5px}.loader-icon.circular{-webkit-animation:rotate 2s linear infinite;animation:rotate 2s linear infinite;height:100%;transform-origin:center center;position:absolute;top:0;bottom:0;margin:0;left:10px;right:0}.loader-icon .path{stroke-dasharray:1, 200;stroke-dashoffset:0;-webkit-animation:dash 1.5s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite;stroke-linecap:round}@-webkit-keyframes rotate{100%{transform:rotate(360deg)}}@keyframes rotate{100%{transform:rotate(360deg)}}@-webkit-keyframes dash{0%{stroke-dasharray:1, 200;stroke-dashoffset:0}50%{stroke-dasharray:89, 200;stroke-dashoffset:-35px}100%{stroke-dasharray:89, 200;stroke-dashoffset:-124px}}@keyframes dash{0%{stroke-dasharray:1, 200;stroke-dashoffset:0}50%{stroke-dasharray:89, 200;stroke-dashoffset:-35px}100%{stroke-dasharray:89, 200;stroke-dashoffset:-124px}}.message-upload{max-width:75%}.message-upload span{padding-left:25px}.message-upload #ic_download{position:absolute;top:50%;transform:translateY(-50%)}.message-upload.message-operator #ic_download{right:-35px}.message-upload.message-visitor #ic_download{left:-35px}.message-upload a{display:flex;justify-content:space-between;align-items:center}.message-upload a:hover>svg{opacity:1}.message-upload a>svg{opacity:0;fill:#bfc5d7}.message-upload.message-image{background:none;padding:0}.message-upload.message-image span{padding-left:0}.message-upload.message-image img{width:100%;border-radius:20px}.message-upload.message-file span{display:inline-block;word-break:break-all;padding-left:0}.message-upload.message-file a{color:inherit;text-decoration:none;display:inline-block;padding-left:35px}.message-upload.message-file a svg{position:absolute;top:50%;transform:translateY(-50%);left:17px}.attachment-img{background:white;color:white;border:none;outline:none}@-webkit-keyframes shakeMessage{10%,90%{transform:translate3d(-1px, 0, 0)}20%,80%{transform:translate3d(1px, 0, 0)}30%,50%,70%{transform:translate3d(-2px, 0, 0)}40%,60%{transform:translate3d(2px, 0, 0)}}@keyframes shakeMessage{10%,90%{transform:translate3d(-1px, 0, 0)}20%,80%{transform:translate3d(1px, 0, 0)}30%,50%,70%{transform:translate3d(-2px, 0, 0)}40%,60%{transform:translate3d(2px, 0, 0)}}.history-button-wrapper{clear:both;width:100%;float:left}.history-button{margin:0 auto;display:flex;align-items:center;background:#fff;margin-bottom:20px;cursor:pointer;letter-spacing:-0.1px;text-align:center;font-size:12px;font-weight:600;color:#8894ab;border-radius:14px;border:solid 1px rgba(136,148,171,0.24);outline:none;padding-right:12px}.history-button svg{fill:#8894ab;width:19px;margin-right:5px}.history-button:hover{color:#2a7dfb}.history-button:hover svg{fill:#2a7dfb}#conversation-group #conversation-scroll{width:24px;height:calc(339px - 26px);position:absolute;right:2px;padding:0 12px 0 4px}#conversation-group #conversation-scroll.invisible{opacity:0}#conversation-group #conversation-scroll.invisible div{cursor:auto}#conversation-group #conversation-scroll div{width:6px;margin:0 1px;background:#00173b;opacity:0;top:0;position:absolute;border-radius:4px;cursor:pointer;transition:opacity 0.1s ease-in-out, width 0.1s ease-in-out, margin 0.1s ease-in-out;z-index:2;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}body:not(.mobile) #conversation-group:hover #conversation-scroll div{opacity:0.16}body:not(.mobile) #conversation-group #conversation-scroll div:hover{opacity:0.32;width:8px;margin:0}hr{margin:0;border:0;border-bottom:1px solid #dbdfe6}textarea{border:0;width:100%;font-size:17px;padding:20px 0 14px 0;resize:none;line-height:24px;overflow-x:hidden;-ms-overflow-style:none}input.disabled,textarea.disabled{cursor:not-allowed;color:#8894ab}button.material-icons,label.material-icons{cursor:pointer;position:relative;z-index:1;-webkit-tap-highlight-color:rgba(0,0,0,0);margin:15px 0 8px 11px;float:right}button.material-icons svg,label.material-icons svg{fill:#8894ab}button.material-icons svg#ic_close,button.material-icons svg.options-icon,label.material-icons svg#ic_close,label.material-icons svg.options-icon{fill:currentColor}button.material-icons svg.play-icon,label.material-icons svg.play-icon{fill:#0ab6ff}button.material-icons::before,label.material-icons::before{content:'';position:absolute;background:#eff2f6;width:0;height:0;border-radius:0;z-index:-1;transition:all 0.16s ease-in-out;margin:12px 0 0 12px}body:not(.mobile) button.material-icons:hover::before,body:not(.mobile) label.material-icons:hover::before{width:40px;height:40px;border-radius:50%;margin:-7px 0 0 -7px}button.material-icons:focus svg,label.material-icons:focus svg{fill:currentColor}button.material-icons:focus svg.play-icon,label.material-icons:focus svg.play-icon{fill:#0ab6ff}button.material-icons.disabled svg,button.material-icons.disabled:focus svg,label.material-icons.disabled svg,label.material-icons.disabled:focus svg{fill:#c9cbd8}.mobile button.material-icons.options,.mobile button.material-icons.exit-chat,.mobile label.material-icons.options,.mobile label.material-icons.exit-chat{margin:5px -10px -2px 1px;padding:10px}button.material-icons.options svg,button.material-icons.exit-chat svg,label.material-icons.options svg,label.material-icons.exit-chat svg{fill:currentColor;width:26px;height:26px}button.material-icons.options::before,button.material-icons.exit-chat::before,label.material-icons.options::before,label.material-icons.exit-chat::before{background:rgba(0,36,92,0.16)}body:not(.mobile) button.material-icons.options:focus::before,body:not(.mobile) button.material-icons.options:hover::before,body:not(.mobile) button.material-icons.exit-chat:focus::before,body:not(.mobile) button.material-icons.exit-chat:hover::before,body:not(.mobile) label.material-icons.options:focus::before,body:not(.mobile) label.material-icons.options:hover::before,body:not(.mobile) label.material-icons.exit-chat:focus::before,body:not(.mobile) label.material-icons.exit-chat:hover::before{width:40px;height:40px;border-radius:50%;margin:-7px 0 0 -7px}button.material-icons.exit-chat,label.material-icons.exit-chat{margin-right:-3px}.mobile button.material-icons.exit-chat,.mobile label.material-icons.exit-chat{margin-right:-13px}body:not(.mobile) button.material-icons.exit-chat:hover::before,body:not(.mobile) label.material-icons.exit-chat:hover::before{margin:-6px 0 0 -6px}.input-group{padding:0 28px 6px;width:100%;position:relative;background:#fff;z-index:3}.input-group.drag-active .drag-active-wrapper::after{content:'';position:absolute;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background:rgba(255,255,255,0.7);z-index:1;-webkit-animation:fade-in 0.3s ease;animation:fade-in 0.3s ease}.not-ie .input-group{flex:0 0 auto}.input-group.footer-disabled{background:#f0f2f7}.input-group.footer-disabled #new-message-textarea{background:transparent}.input-group.footer-disabled hr{display:none}.input-group .material-icons svg{width:26px;height:26px}.input-group .material-icons:hover svg{fill:#007dfc}.input-group .material-icons:hover::before{background-color:rgba(0,125,252,0.12)}.input-group .footer-bottom{height:42px;position:relative}.input-group .footer-bottom button{-webkit-tap-highlight-color:rgba(0,0,0,0);float:left;margin:0 16px 14px 0}.emoji-wrapper{height:215px;position:absolute;overflow:hidden;width:340px;bottom:100%;z-index:10;left:18px}.emoji-mart{border:0;position:absolute;width:100% !important;height:100%;right:0}.emoji-mart input:focus{border:1px solid #d9d9d9}.emoji-mart-scroll{height:140px}.emoji-mart .emoji-mart-emoji{cursor:pointer}.emoji-mart .emoji-mart-emoji span{cursor:pointer}.emoji-mart-anchor{-ms-flex:1 1 auto}.no-start-message .emoji-wrapper{height:175px}.no-start-message .emoji-mart-scroll{height:100px}.options-dropdown,.bots-dropdown{position:absolute;top:72px;background:#fff;border-radius:8px;box-shadow:0 6px 32px 0 rgba(0,18,46,0.16);padding:12px 6px;z-index:3;transition:all 0.2s ease-in-out;right:24px}.options-dropdown ul,.bots-dropdown ul{margin:0;padding:0}.options-dropdown ul li,.bots-dropdown ul li{border-radius:6px;box-sizing:border-box;padding:8px 16px;display:flex}body:not(.mobile) .options-dropdown ul li:hover,body:not(.mobile) .bots-dropdown ul li:hover{background:#eff2f6}.options-dropdown ul li:nth-of-type(2) button svg,.bots-dropdown ul li:nth-of-type(2) button svg{fill:#ffb926}.options-dropdown button,.bots-dropdown button{padding:8px 16px;display:flex;margin:0;position:initial;float:initial}.options-dropdown button svg,.bots-dropdown button svg,.options-dropdown button:focus svg,.bots-dropdown button:focus svg{fill:#8894ab;height:22px;width:22px}.options-dropdown button:focus,.bots-dropdown button:focus{outline:thin dotted}.options-dropdown button span,.bots-dropdown button span{margin-left:10px;color:#06132b}.options-dropdown button::before,.bots-dropdown button::before{content:none}.bots-dropdown{top:auto;bottom:0;transform:translateY(-60px);max-height:275px;overflow-y:auto;z-index:11;right:auto;left:0px}.bots-dropdown button.material-icons{margin:0}.bots-dropdown ul li{padding:0}.bots-dropdown ul li span{cursor:pointer;padding:8px 16px;display:flex;align-items:center;width:100%}.bots-dropdown ul li span svg{margin-right:10px}.bots-dropdown ul li span.bot-disabled{cursor:not-allowed;color:#8894ab}.bots-dropdown ul.bots-cancel span{color:#0ab6ff;display:flex;align-items:center}.bots-dropdown ul.bots-cancel svg{fill:red;margin-right:10px}.powered{display:flex;text-decoration:none;color:#8894ab;font-weight:400;font-size:10px;direction:ltr;margin-right:25px;float:right}.powered span{align-self:center;margin-right:8px}.powered svg{width:50px}.offline-message{margin:18px -28px 0px;color:currentColor;width:calc(100% + 56px);padding:14px 28px 7px;position:relative;background-size:100% calc(100% + 12px);z-index:1}.no-clip-path .offline-message{padding:14px 28px 20px}.no-clip-path .offline-message:after{content:'';position:absolute;width:calc(100% + 10px);bottom:-8px;left:-5px;border-image-source:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNzIgMTUiPgogIDxwYXRoIGQ9Ik0zNDkuOCAxLjRDMzM0LjUuNCAzMTguNSAwIDMwMiAwaC0yLjVjLTkuMSAwLTE4LjQuMS0yNy44LjQtMzQuNSAxLTY4LjMgMy0xMDIuMyA0LjctMTQgLjUtMjggMS4yLTQxLjUgMS42Qzg0IDcuNyA0MS42IDUuMyAwIDIuMnY4LjRjNDEuNiAzIDg0IDUuMyAxMjguMiA0LjEgMTMuNS0uNCAyNy41LTEuMSA0MS41LTEuNiAzMy45LTEuNyA2Ny44LTMuNiAxMDIuMy00LjcgOS40LS4zIDE4LjctLjQgMjcuOC0uNGgyLjVjMTYuNSAwIDMyLjQuNCA0Ny44IDEuNCA4LjQuMyAxNS42LjcgMjIgMS4yVjIuMmMtNi41LS41LTEzLjgtLjUtMjIuMy0uOHoiIGZpbGw9IiNmZmYiLz4KPC9zdmc+Cg==);border-image-slice:0 0 100%;border-image-width:0 0 15px;border-image-repeat:stretch stretch;border-bottom:solid 15px;border-top:0;border-left:0;border-right:0}.offline-message span{z-index:2;position:relative;display:inline-block;font-size:16px}.offline-message span.online{padding-left:20px}.offline-message span.online:before{content:'';display:block;width:8px;height:8px;position:absolute;top:calc(50% - 4px);background:#58b743;border-radius:50%;left:0}.emoji-switch.active svg{fill:currentColor}.attachment{display:none}.bots-animation svg{will-change:transform;-webkit-animation:botsAnimation 3s infinite;animation:botsAnimation 3s infinite;-webkit-animation-iteration-count:1;animation-iteration-count:1}.bots-animation .pulse{will-change:transform;display:block;width:26px;height:26px;background:#0ab6ff;position:absolute;top:0;left:0;z-index:-4;border-radius:50%;-webkit-animation:waterPulse 3s infinite;animation:waterPulse 3s infinite;-webkit-animation-iteration-count:1;animation-iteration-count:1}.bots-animation .pulse.animation-delay{z-index:-2}.bots-animation .pulse-white{will-change:transform;display:block;width:26px;height:26px;background:#fff;position:absolute;top:0;left:0;z-index:-3;border-radius:50%;-webkit-animation:waterPulseWhite 3s infinite;animation:waterPulseWhite 3s infinite;-webkit-animation-iteration-count:1;animation-iteration-count:1}.bots-animation .pulse-white.animation-delay{z-index:-1}.footer-disabled .bots-animation .pulse-white{background:#f0f2f7}.bots-animation .animation-delay{-webkit-animation-delay:0.8s;animation-delay:0.8s}@-webkit-keyframes waterPulseWhite{from{transform:scale(0.7)}29%{transform:scale(0.7)}60%{transform:scale(2.8)}}@keyframes waterPulseWhite{from{transform:scale(0.7)}29%{transform:scale(0.7)}60%{transform:scale(2.8)}}@-webkit-keyframes waterPulse{from{opacity:0;transform:scale(0.8)}19%{opacity:0.3}23%{transform:scale(0.8)}24%{opacity:0.5;transform:scale(0.8)}31%{opacity:0.4}55%{opacity:0.1;transform:scale(2.8)}100%{opacity:0}}@keyframes waterPulse{from{opacity:0;transform:scale(0.8)}19%{opacity:0.3}23%{transform:scale(0.8)}24%{opacity:0.5;transform:scale(0.8)}31%{opacity:0.4}55%{opacity:0.1;transform:scale(2.8)}100%{opacity:0}}@-webkit-keyframes botsAnimation{12%{transform:scale(1)}20%{transform:scale(1.2)}25%{transform:scale(0.9)}29%{transform:scale(1.05)}31%{transform:scale(1)}}@keyframes botsAnimation{12%{transform:scale(1)}20%{transform:scale(1.2)}25%{transform:scale(0.9)}29%{transform:scale(1.05)}31%{transform:scale(1)}}@-webkit-keyframes scale-up{0%{transform:scale(0.8)}100%{transform:scale(1)}}@keyframes scale-up{0%{transform:scale(0.8)}100%{transform:scale(1)}}@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}.start-group{display:flex;flex-direction:column;width:372px;position:absolute;bottom:26px;border-radius:16px;overflow:hidden;pointer-events:auto;box-shadow:0 8px 26px 0 rgba(0,18,46,0.16);z-index:1;right:48px}.start-group.chrome{box-shadow:0 8px 36px 0 rgba(0,18,46,0.16)}.start-group.safari{box-shadow:0 8px 30px 0 rgba(0,18,46,0.16)}.start-group.ie{box-shadow:0 8px 40px 0 rgba(0,18,46,0.16)}.chat-on-site .start-group{box-shadow:0 8px 22px 0 rgba(0,18,46,0.16)}.chat-in-preview .start-group{box-shadow:0 8px 18px 0 rgba(0,18,46,0.16)}.start-group .chat-header h2,.start-group .chat-header .start-message,.start-group .chat-header .offline-message{z-index:2}.start-group h2{font-weight:400;font-size:42px;color:#303f9f;margin:6px 0 16px 0;padding-top:4px;display:inline-block;position:relative;max-width:calc(100% - 90px);line-height:50px;white-space:pre-line;-webkit-text-stroke:0.4px;padding-left:14px}.start-group h2 .emoji{width:31px;height:31px}.start-group h2.h2-banner{color:#fff}.start-group p{font-size:16px}.start-group .operators{display:flex;position:absolute;top:92px;flex-direction:column;height:calc(100% - 92px);right:42px}.start-group .ava48{width:66px;height:66px;border-radius:31px;margin-bottom:20px;background-size:cover;background-position:center;display:inline-block;background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAMDAwMDAwQEBAQFBQUFBQcHBgYHBwsICQgJCAsRCwwLCwwLEQ8SDw4PEg8bFRMTFRsfGhkaHyYiIiYwLTA+PlQBAwMDAwMDBAQEBAUFBQUFBwcGBgcHCwgJCAkICxELDAsLDAsRDxIPDg8SDxsVExMVGx8aGRofJiIiJjAtMD4+VP/CABEIADwAPAMBIgACEQEDEQH/xAAcAAEAAQUBAQAAAAAAAAAAAAAABgEDBAUHAgn/2gAIAQEAAAAA+lYAj8cy5ndHO8VNN0IFrk62gjEYudH9iLQPN6lec+0VmtG038L9UpWh/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/aAAgBAhAAAAAAAP/EABQBAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQMQAAAAAAD/xAAuEAABAwMACAUEAwAAAAAAAAABAgMEAAURBhASEyAhQVEiMmKRwSNxcoExQqH/2gAIAQEAAT8A14PHdbuuMvcMY2wPGs88Z6ClT5qzlUh0n8qjXmawoFay8jqlfwaZebkNIdbOUrGRwCpxJmySf53qtdgJNu+zq+G7N7u4yPUoK9xrsyC3bWfUVL9zw6QxiS1IA5Y2F/Gpplb7qGkeZasCkNpabQhPlQkJH64CMDJ5DvWkk+Gu3uRm3wp5ak42Dkp2TnJNC4S2hhyPvT0Wg4z9xVqmuN3SNJl/TabUcITzxkY2j3piRHkjLLrbg9Ks1gjVL0nnvLVuAllHTllf7Jp+VKknLz7jn5K+KAAGNY8JykkHuDg0xe7rG5JkqUB/VY2x/tR9LkBvEmMsud2/KfeumrtXSu9dKFZNf//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQIBAT8AB//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AB//Z);flex:0 0 auto;position:relative;z-index:2}.start-group .ava48:not(.disabled-hover):hover{z-index:3}.start-group .ava48:last-child{margin-bottom:0}.start-group .ava48 span{background:#fff;padding:6px 8px;border-radius:2px;box-shadow:0 2px 8px 0 rgba(0,18,46,0.32);font-size:13px;position:absolute;opacity:0;pointer-events:none;white-space:nowrap;transition:all 0.16s ease-in-out;z-index:3;right:calc(100% + 10px);top:50%;transform:translateY(-50%);color:#06132b}.start-group .ava48:not(.disabled-hover):hover span{opacity:1}.start-group hr{margin:0;border:0;border-bottom:1px solid #dbdfe6}.start-group textarea{border:0;width:100%;font-size:17px;padding:20px 0 14px 0;resize:none;line-height:24px}.start-group button.i-banner svg{fill:currentColor}.start-group button.i-banner::before{background:rgba(0,36,92,0.16)}body:not(.mobile) .start-group button.i-banner:focus::before,body:not(.mobile) .start-group button.i-banner:hover::before{width:38px;height:38px;border-radius:19px;margin:-7px 0 0 -6px}body:not(.mobile) .start-group button.i-banner.exit-chat:focus::before,body:not(.mobile) .start-group button.i-banner.exit-chat:hover::before{margin:-5px 0 0 -5px}.start-group .get-started{width:100%;overflow:hidden;z-index:3;position:relative}.start-group .get-started button{color:#3f88f3;display:block;width:100%;padding:1em 0;background:#fff;border-radius:0;border:0;font-size:19px;transition:color 0.2s ease-in-out;cursor:pointer}.start-group .input-group{z-index:4}.banner{width:100%;height:100%;position:absolute;top:0;border-radius:8px 8px 0 0;overflow:hidden;z-index:1;opacity:0.16;background-size:cover;left:0}.start-message{color:currentColor;font-size:15px;margin:0 0 32px 0;line-height:22px;position:relative;padding-left:14px;padding-right:100px}.heading-hover{position:absolute;color:#fff;background:rgba(0,0,0,0.88);top:70px;font-size:13px;padding:10px 15px;z-index:3;width:auto;border-radius:8px;max-width:100%;opacity:0;transition:opacity 0.3s ease-in-out;left:50px}.start-group h2:hover+.heading-hover{opacity:1}.user-data-modal{background:#fff;height:100%;width:100%;display:flex;justify-content:center;align-items:center;position:absolute;z-index:10;padding:50px 55px;font-family:'Muli', sans-serif;background-image:linear-gradient(#fff, #fff),linear-gradient(#fff, #fff);background-size:100% 40px,100% calc(100% - 40px);background-repeat:no-repeat;background-position:top, bottom}.user-data-modal .user-data-modal-filler{width:280%;background-color:#fff;display:block;position:absolute;left:-90%;top:0;height:100%;z-index:-1;border-radius:0 0 53% 53%;background-clip:padding-box}.user-data-modal .user-data-modal-close{position:absolute;right:16px;top:16px;background:none;border:none;padding:0;cursor:pointer}.user-data-modal .user-data-modal-close svg#ic_close{width:17px;height:17px;fill:#6d7e9e;position:static}.user-data-modal svg{width:20px;height:20px;top:10px;left:12px}.user-data-modal svg#ic_arrow{fill:#007dfc}.user-data-modal .pre-chat,.user-data-modal .always-online{max-width:100%}.user-data-modal .user-data-modal-text{font-size:20px;font-weight:600;text-align:center;color:#00122e;margin-bottom:32px}.user-data-modal .user-data-modal-fields input{border:solid 1px rgba(108,125,159,0.24);font-size:15px;padding:9px 12px 10px 40px;margin:0 0 8px 0}.user-data-modal .user-data-modal-fields label{padding-top:12px;padding-right:0;margin:0 0 8px 10px}.user-data-modal .user-data-modal-fields label input{margin-left:5px;margin-top:4px}.user-data-modal .user-data-modal-fields label span{font-size:11px;text-align:justify;color:#00122e;max-height:120px;display:block;overflow-y:auto}.user-data-modal .user-data-modal-fields label span a{color:#00122e}.user-data-modal .user-data-modal-submit{font-family:'Muli', sans-serif;width:100%;height:40px;font-size:16px;font-weight:600;color:#ffffff;border-radius:6px;background:linear-gradient(99deg, #2a27da, #0cf);margin:16px 0;border:none;cursor:pointer;position:relative}.user-data-modal .user-data-modal-submit::after{transition:background-color 0.2s;content:'';border-radius:6px}.user-data-modal .user-data-modal-submit:hover::after{content:'';position:absolute;width:100%;height:100%;background:rgba(0,0,0,0.08);left:0;top:0}.user-data-modal .user-data-modal-operators{text-align:center;white-space:nowrap;margin-bottom:32px}.user-data-modal .user-data-modal-operators .user-data-modal-operator{width:66px;height:66px;border-radius:31px;background-size:cover;background-position:center;display:inline-block;background-image:url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAMDAwMDAwQEBAQFBQUFBQcHBgYHBwsICQgJCAsRCwwLCwwLEQ8SDw4PEg8bFRMTFRsfGhkaHyYiIiYwLTA+PlQBAwMDAwMDBAQEBAUFBQUFBwcGBgcHCwgJCAkICxELDAsLDAsRDxIPDg8SDxsVExMVGx8aGRofJiIiJjAtMD4+VP/CABEIADwAPAMBIgACEQEDEQH/xAAcAAEAAQUBAQAAAAAAAAAAAAAABgEDBAUHAgn/2gAIAQEAAAAA+lYAj8cy5ndHO8VNN0IFrk62gjEYudH9iLQPN6lec+0VmtG038L9UpWh/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/aAAgBAhAAAAAAAP/EABQBAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQMQAAAAAAD/xAAuEAABAwMACAUEAwAAAAAAAAABAgMEAAURBhASEyAhQVEiMmKRwSNxcoExQqH/2gAIAQEAAT8A14PHdbuuMvcMY2wPGs88Z6ClT5qzlUh0n8qjXmawoFay8jqlfwaZebkNIdbOUrGRwCpxJmySf53qtdgJNu+zq+G7N7u4yPUoK9xrsyC3bWfUVL9zw6QxiS1IA5Y2F/Gpplb7qGkeZasCkNpabQhPlQkJH64CMDJ5DvWkk+Gu3uRm3wp5ak42Dkp2TnJNC4S2hhyPvT0Wg4z9xVqmuN3SNJl/TabUcITzxkY2j3piRHkjLLrbg9Ks1gjVL0nnvLVuAllHTllf7Jp+VKknLz7jn5K+KAAGNY8JykkHuDg0xe7rG5JkqUB/VY2x/tR9LkBvEmMsud2/KfeumrtXSu9dKFZNf//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQIBAT8AB//EABQRAQAAAAAAAAAAAAAAAAAAAED/2gAIAQMBAT8AB//Z);margin-right:-4%}.user-data-modal .emoji{margin:0}.flyMessage{background-color:#fff;padding:0 24px;max-width:340px;position:absolute;bottom:26px;border-radius:12px;box-shadow:0 8px 26px 0 rgba(0,18,46,0.16);display:flex;flex-direction:column;z-index:1;max-height:calc(100% - 76px);right:48px;margin-left:20px}.chat-in-preview .flyMessage{box-shadow:0 8px 13px 0 rgba(0,18,46,0.16)}.flyMessage:hover .close-button-wrapper{opacity:1;transform:translateY(0px)}.mobile .flyMessage{max-width:calc(100% - 48px - 55px)}.mobile .flyMessage.with-buttons{width:calc(100% - 48px - 55px);max-width:250px}.flyMessage:not(.ie) .close-button-wrapper{transition:all 0.3s}.flyMessage .close-button-wrapper{position:absolute;bottom:100%;opacity:0;width:100%;height:45px;transform:translateY(10px);left:0}.mobile .flyMessage .close-button-wrapper{opacity:1;height:100%;width:45px;bottom:auto;top:0;transform:translateY(0);right:100%;left:auto;transform:translateX(-10px)}.flyMessage .close-button-wrapper button.material-icons.exit-chat.mobile-close{position:absolute;top:0;border-radius:50%;margin:0;padding:3px;box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);height:24px;width:24px;display:flex;background:#fff;right:5px}.flyMessage .close-button-wrapper button.material-icons.exit-chat.mobile-close svg#ic_close{width:20px;height:20px;fill:#8894ab}.flyMessage .close-button-wrapper button.material-icons.exit-chat.mobile-close:before{content:none}.flyMessage .input-group{padding:9px 22px 9px 0}.flyMessage .material-icons.emoji-switch{position:absolute;top:0;right:36px}.flyMessage .material-icons.emoji-switch svg{width:20px;height:20px}.flyMessage .material-icons.emoji-switch:hover:before{width:32px;height:32px;margin:-6px 0 0 -6px}.flyMessage .emoji-wrapper{width:300px;left:auto;right:26px;border-radius:6px;box-shadow:0 1px 4px 0 rgba(0,0,0,0.14);left:auto;right:26px}.flyMessage .input-group .fly-new-message-button{transition:min-width 0.3s;min-width:180px;padding:4px 0 8px;line-height:21px;border:none;text-align:left;cursor:pointer;font-size:17px;color:#8894ab;background:none;outline:none;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.flyMessage .input-group .fly-new-message-button::-webkit-input-placeholder{white-space:nowrap}.flyMessage .input-group .fly-new-message-button::-moz-placeholder{white-space:nowrap}.flyMessage .input-group .fly-new-message-button:-ms-input-placeholder{white-space:nowrap}.flyMessage .input-group .fly-new-message-button:-moz-placeholder{white-space:nowrap}.flyMessage.ie .message-container{max-height:300px}.flyMessage .message-container{padding:19px 0;max-width:290px;font-size:17px;background:#fff;position:relative;word-wrap:break-word;overflow:hidden;overflow-y:auto;white-space:pre-line;padding-right:38px}.flyMessage .message-container.image-content{overflow-y:hidden;padding-left:0;padding-right:0}.flyMessage .message-container.image-content button{float:left;border:none;cursor:pointer;padding:0;height:200px;width:100%;min-width:200px;background-color:#fff;outline:none}.flyMessage .message-container.image-content button .image-preview{background-size:cover;background-repeat:no-repeat;background-position:center;border-radius:8px;height:100%}.mobile .flyMessage .message-container{width:100%;font-size:15px;padding-right:22px}.mobile .flyMessage .message-container.image-content{padding-left:0;padding-right:0}.mobile .flyMessage .message-container.image-content button{height:132px;min-width:auto}.flyMessage .message-container:after{content:'';border-bottom:1px solid #dedede;display:block;position:absolute;bottom:0;width:calc(100% - 38px)}.mobile .flyMessage .message-container:after{width:calc(100% - 22px)}.flyMessage .button-wrapper{width:100%;display:flex;flex-wrap:wrap}.mobile .flyMessage .button-wrapper{flex-direction:column;align-items:flex-start}.flyMessage .button-wrapper button{font-size:17px;color:#007dfc;background:#fff;border:0;cursor:pointer;padding:0;line-height:21px;margin-top:6px;margin-bottom:6px;margin-right:16px;text-align:left}.flyMessage .button-wrapper button:hover{text-decoration:underline}.mobile .flyMessage .button-wrapper button{max-width:100%;display:block;padding:8px 0}.flyMessage .button-wrapper .more-replies{border:1px solid #007dfc;border-radius:20px;padding:3px 10px;line-height:7px;align-self:center}.mobile .flyMessage .button-wrapper .more-replies{align-self:flex-start;padding:3px 10px;margin:6px 0}.flyMessage .button-wrapper .more-replies svg{transform:rotate(90deg);width:13px;height:13px;fill:#007dfc}.widgetLabel{position:absolute;height:42px;bottom:61px;z-index:1;white-space:nowrap;border:0;font-size:17px;cursor:pointer;border-radius:16px;padding:10px 15px;box-shadow:0 6px 32px 0 rgba(0,18,46,0.24);background:#fff}.widget-position-left .widgetLabel{left:100px}.widget-position-right .widgetLabel{right:100px}.widgetLabel.hidden{display:none}.dropdownFade-enter{opacity:0.01;top:62px}.dropdownFade-enter.dropdownFade-enter-active{opacity:1;top:72px}.dropdownFade-exit{opacity:1;top:72px}.dropdownFade-exit.dropdownFade-exit-active{opacity:0.01;top:62px}.botsListFade-enter{opacity:0;transform:translateY(-52px)}.botsListFade-enter.botsListFade-enter-active{opacity:1;transform:translateY(-60px)}.botsListFade-appear{opacity:0;transform:translateY(-52px)}.botsListFade-appear.botsListFade-appear-active{opacity:1;transform:translateY(-60px)}.botsListFade-exit{opacity:1;transform:translateY(-60px)}.botsListFade-exit.botsListFade-exit-active{opacity:0;transform:translateY(-52px)}.fade-enter{opacity:0.01}.fade-enter.fade-enter-active{transition:all 0.3s;opacity:1}.fade-exit{opacity:1;transition:all 0.3s}.fade-exit.fade-exit-active{opacity:0.01}.fade200-enter{opacity:0.01}.fade200-enter.fade200-enter-active{transition:opacity 0.2s;opacity:1}.fade200-exit{opacity:1;transition:opacity 0.2s}.fade200-exit.fade200-exit-active{opacity:0.01}.emojiFade-enter{opacity:0.01;bottom:calc(100% - 10px)}.emojiFade-enter.emojiFade-enter-active{opacity:1;bottom:100%;transition:all 0.3s}.emojiFade-exit{opacity:1;bottom:100%;transition:all 0.3s}.emojiFade-exit.emojiFade-exit-active{opacity:0.01;bottom:calc(100% - 10px)}.scale-enter{transform:scale(0.01);opacity:0}.scale-enter.scale-enter-active{transform:scale(1);opacity:1}.scale-exit{transform:scale(1);opacity:1}.scale-exit.scale-exit-active{transform:scale(0.01);opacity:0}#button.sidebar{transition:all 0.3s}#button.sidebar.bubbleAnimation-appear{right:-8px;opacity:0.01}#button.sidebar.bubbleAnimation-appear-active{opacity:1;right:0}#button.sidebar.bubbleAnimation-enter{right:-8px;opacity:0.01}#button.sidebar.bubbleAnimation-enter-active{opacity:1;right:0}#button.sidebar.bubbleAnimation-exit{opacity:1;right:0}#button.sidebar.bubbleAnimation-exit-active{right:-8px;opacity:0.01}#button:not(.sidebar).bubbleAnimation-appear{right:-8px;opacity:0.01}#button:not(.sidebar).bubbleAnimation-appear.bubbleAnimation-appear-active{opacity:1;right:0;transition:all 0.3s}#button:not(.sidebar).bubbleAnimation-enter{right:-8px;opacity:0.01}#button:not(.sidebar).bubbleAnimation-enter.bubbleAnimation-enter-active{opacity:1;right:0;transition:all 0.3s}#button:not(.sidebar).bubbleAnimation-exit{opacity:1;right:0;transition:all 0.3s}#button:not(.sidebar).bubbleAnimation-exit.bubbleAnimation-exit-active{right:-8px;opacity:0.01}.widget-position-left #button:not(.sidebar).bubbleAnimation-appear{right:8px;opacity:0.01}.widget-position-left #button:not(.sidebar).bubbleAnimation-appear.bubbleAnimation-appear-active{opacity:1;right:0px;transition:all 0.3s}.widget-position-left #button:not(.sidebar).bubbleAnimation-enter{right:8px;opacity:0.01}.widget-position-left #button:not(.sidebar).bubbleAnimation-enter.bubbleAnimation-enter-active{opacity:1;right:0px;transition:all 0.3s}.widget-position-left #button:not(.sidebar).bubbleAnimation-exit{opacity:1;right:0px;transition:all 0.3s}.widget-position-left #button:not(.sidebar).bubbleAnimation-exit.bubbleAnimation-exit-active{right:8px;opacity:0.01}.mobile .widget-position-left #button:not(.sidebar).bubbleAnimation-appear{right:8px;opacity:0.01}.mobile .widget-position-left #button:not(.sidebar).bubbleAnimation-appear.bubbleAnimation-appear-active{opacity:1;right:0px;transition:all 0.3s}.mobile .widget-position-left #button:not(.sidebar).bubbleAnimation-enter{right:8px;opacity:0.01}.mobile .widget-position-left #button:not(.sidebar).bubbleAnimation-enter.bubbleAnimation-enter-active{opacity:1;right:0px;transition:all 0.3s}.mobile .widget-position-left #button:not(.sidebar).bubbleAnimation-exit{opacity:1;right:0px;display:none;transition:all 0.3s}.mobile .widget-position-left #button:not(.sidebar).bubbleAnimation-exit.bubbleAnimation-exit-active{right:8px;opacity:0.01}.widget-position-left #button:not(.sidebar).bubbleAnimationReturn-appear{left:8px;opacity:0.01}.widget-position-left #button:not(.sidebar).bubbleAnimationReturn-appear.bubbleAnimationReturn-appear-active{opacity:1;left:0px;transition:all 0.2s}.widget-position-left #button:not(.sidebar).bubbleAnimationReturn-enter{left:8px;opacity:0.01}.widget-position-left #button:not(.sidebar).bubbleAnimationReturn-enter.bubbleAnimationReturn-enter-active{left:0px;opacity:1;transition:all 0.2s}.widget-position-left #button:not(.sidebar).bubbleAnimationReturn-exit{opacity:1;left:0px;transition:all 0.2s}.widget-position-left #button:not(.sidebar).bubbleAnimationReturn-exit.bubbleAnimationReturn-exit-active{left:8px;opacity:0.01}.mobile .widget-position-left #button:not(.sidebar).bubbleAnimationReturn-exit{display:none}.sidebar-position-left #button.sidebar{transition:all 0.3s}.sidebar-position-left #button.sidebar.bubbleAnimationLeft-exit{opacity:1;left:0px}.sidebar-position-left #button.sidebar.bubbleAnimationLeft-exit-active{left:-8px;opacity:0.01}.sidebar-position-left #button.sidebar.bubbleAnimationLeft-appear{left:-8px;opacity:0.01}.sidebar-position-left #button.sidebar.bubbleAnimationLeft-appear-active{opacity:1;left:0px}.sidebar-position-left #button.sidebar.bubbleAnimationLeft-enter{left:-8px;opacity:0.01}.sidebar-position-left #button.sidebar.bubbleAnimationLeft-enter-active{opacity:1;left:0px}.moveFromRight-appear{right:40px;opacity:0.01}.moveFromRight-appear.moveFromRight-appear-active{opacity:1;right:48px;transition:all 0.3s}.moveFromRight-enter{right:40px;opacity:0.01}.moveFromRight-enter.moveFromRight-enter-active{opacity:1;right:48px;transition:all 0.3s}.moveFromRight-exit{opacity:1;right:48px;transition:all 0.3s}.moveFromRight-exit.moveFromRight-exit-active{right:40px;opacity:0.01}.moveFromRightLabel-appear{right:92px;opacity:0.01}.moveFromRightLabel-appear.moveFromRightLabel-appear-active{opacity:1;right:100px;transition:all 0.3s}.moveFromRightLabel-enter{right:92px;opacity:0.01}.moveFromRightLabel-enter.moveFromRightLabel-enter-active{opacity:1;right:100px;transition:all 0.3s}.moveFromRightLabel-exit{opacity:1;right:100px;transition:all 0.3s}.moveFromRightLabel-exit.moveFromRightLabel-exit-active{right:92px;opacity:0.01}.moveFromLeftLabel-appear{left:92px;opacity:0.01}.moveFromLeftLabel-appear.moveFromLeftLabel-appear-active{opacity:1;left:100px;transition:all 0.3s}.moveFromLeftLabel-enter{left:92px;opacity:0.01}.moveFromLeftLabel-enter.moveFromLeftLabel-enter-active{opacity:1;left:100px;transition:all 0.3s}.moveFromLeftLabel-exit{opacity:1;left:100px;transition:all 0.3s}.moveFromLeftLabel-exit.moveFromLeftLabel-exit-active{left:92px;opacity:0.01}body:not(.mobile) .widget-position-left .chat.moveFromRight-appear{right:40px;opacity:0.01}body:not(.mobile) .widget-position-left .chat.moveFromRight-appear.moveFromRight-appear-active{opacity:1;right:48px;transition:all 0.3s}body:not(.mobile) .widget-position-left .chat.moveFromRight-enter{right:40px;opacity:0.01}body:not(.mobile) .widget-position-left .chat.moveFromRight-enter.moveFromRight-enter-active{opacity:1;right:48px;transition:all 0.3s}body:not(.mobile) .widget-position-left .chat.moveFromRight-exit{opacity:1;right:48px;transition:all 0.3s}body:not(.mobile) .widget-position-left .chat.moveFromRight-exit.moveFromRight-exit-active{right:40px;opacity:0.01}.sidebarAnimation-appear{right:40px;opacity:0.01}.sidebarAnimation-appear.sidebarAnimation-appear-active{opacity:1;right:48px;transition:all 0.3s}.sidebarAnimation-enter{right:40px;opacity:0.01}.sidebarAnimation-enter.sidebarAnimation-enter-active{opacity:1;right:48px;transition:all 0.3s}.sidebarAnimation-exit{opacity:1;right:48px;transition:all 0.3s}.sidebarAnimation-exit.sidebarAnimation-exit-active{right:40px;opacity:0.01}.operatorTyping-enter{opacity:0.01;transform:translateY(10px)}.operatorTyping-enter.operatorTyping-enter-active{transform:translateY(0px);transition:all 0.3s;opacity:1}.operatorTyping-exit{display:none}@-webkit-keyframes ripple{from{background:rgba(239,242,246,0);transform:scale(0.5)}50%{background:rgba(239,242,246,0.6);transform:scale(1)}to{background:rgba(239,242,246,0);transform:scale(2)}}@keyframes ripple{from{background:rgba(239,242,246,0);transform:scale(0.5)}50%{background:rgba(239,242,246,0.6);transform:scale(1)}to{background:rgba(239,242,246,0);transform:scale(2)}}.mobile{-webkit-tap-highlight-color:rgba(0,0,0,0)}.mobile button.material-icons.exit-chat.mobile-close{border-radius:50%;position:absolute;top:10px;right:20px;margin:0;padding:3px;box-shadow:0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);height:30px;width:30px;background:#fff}.mobile button.material-icons.exit-chat.mobile-close svg{fill:#000}.mobile .chat{width:100%;height:100%;bottom:0;background:#fff;display:flex;flex-direction:column;border-radius:0;right:0;left:auto}.mobile .input-group{align-self:flex-end}.mobile .input-group textarea{padding-right:50px}.mobile .input-group .powered{margin-right:45px}.mobile .input-group button{margin-bottom:0}.mobile .chat{max-height:none}.mobile #conversation-group{max-height:none;flex:1 1 auto;overflow-y:scroll;-webkit-overflow-scrolling:touch}.mobile #button{width:80px;height:100px;bottom:0;transition:transform 0.2s;transform:translateY(-12px);right:0px;left:auto}.mobile #button.chat-open{right:0px;left:auto}.mobile #button.sidebar{width:50px}.mobile #button.chat-closed:not(.sidebar).mobile-size__small{transform:scale(0.6)}.mobile #button.chat-closed:not(.sidebar).mobile-size__medium{transform:scale(0.8)}.mobile #new-message{top:17px;right:13px}.mobile #new-message+#dnd-indicator{right:2px}.mobile #new-message.active{-webkit-animation:shakeMobile 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;animation:shakeMobile 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both}.mobile #dnd-indicator{top:17px;right:13px}.mobile .emoji-wrapper{height:calc(100vh - 100%);z-index:5;padding-bottom:10px}.mobile .emoji-mart-scroll{height:calc(100% - 73px)}.mobile button.ripple{touch-action:manipulation}.mobile button.ripple::after{content:'';position:absolute;height:50px;width:0px;top:calc(50% - 25px);background:rgba(239,242,246,0);border-radius:50%;z-index:-1;will-change:transform, opacity;left:calc(50% - 25px)}.mobile button.ripple:not(:active)::after{-webkit-animation:ripple 0.3s ease-in-out;animation:ripple 0.3s ease-in-out;transition:width 0.3s step-end}.mobile button.ripple:active::after{width:50px;transition:width 0s step-start}.mobile .widget-position-left #button.chat-open{right:0;left:auto}.mobile .chat-header{padding:8px 22px 0px}.mobile .offline-message{margin-top:3px;padding:10px 28px 12px}.mobile .offline-message span{font-size:13px}.mobile .avatars-wrapper{width:42px;height:42px;margin:0px 14px 0 0}.mobile .chat h2 .top-heading{font-size:13px;margin-top:-1px}.mobile .chat h2.oneline{line-height:49px;height:49px}@-webkit-keyframes shakeMobile{10%,90%{right:12px}20%,80%{right:14px}30%,50%,70%{right:11px}40%,60%{right:15px}}@keyframes shakeMobile{10%,90%{right:12px}20%,80%{right:14px}30%,50%,70%{right:11px}40%,60%{right:15px}}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}body,input,textarea,button{font-family:'Muli', sans-serif;letter-spacing:-0.24px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#06132b}input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#8894ab;opacity:1}input::-moz-placeholder,textarea::-moz-placeholder{color:#8894ab;opacity:1}input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#8894ab;opacity:1}input::-ms-input-placeholder,textarea::-ms-input-placeholder{color:#8894ab;opacity:1}input::placeholder,textarea::placeholder{color:#8894ab;opacity:1}input:focus,input:active,textarea:focus,textarea:active{border:0;outline:0}table{border-spacing:0}i{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}ul{list-style-type:none}.emoji{width:20px;margin:0 2px -5px 2px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}button.material-icons{background:none;border:0;color:inherit;font:inherit;line-height:normal;overflow:visible;padding:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;outline:none}button.material-icons::-moz-focus-inner{border:0;padding:0}button.link{background:none;color:inherit;border:none;padding:0;font:inherit;border-bottom:1px solid #444;cursor:pointer}.lang-rtl{direction:rtl;unicode-bidi:embed}.widget-position-left .chat,.widget-position-left .start-group{right:48px;left:auto}.mobile .widget-position-left .chat,.mobile .widget-position-left .start-group{right:0}.widget-position-left #button:not(.sidebar){left:0px;right:auto}.widget-position-left #button.bubbleAnimation-exit{right:0px;left:auto}.widget-position-left #button.chat-open{right:0px;left:auto}.mobile .widget-position-left #button.chat-open{right:0px;left:auto}

/*Styles Navbar*/
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #000;  
}

/* Navbar animation */
.navbar {
  background-color: transparent; }

.top-nav-collapse {
  background-color: #fff; }

/* Animacion Header */

@-webkit-keyframes tipsy {
  0 {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);
    transform: translateX(-50%) translateY(-50%) rotate(360deg); } }

@keyframes tipsy {
  0 {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);
    transform: translateX(-50%) translateY(-50%) rotate(360deg); } }

    .header {
      color: #183940;
      position: relative;
     /* padding: 300px 0;*/
      text-align: center;
      font-weight: 700;
   }
    
    .header #estilotitulo {
      display: inline-block;
      padding: 80px 20px;
      color: #070D0B;
      text-shadow: 0 20px 25px #733D29, 0 40px 60px #733D29;
      font-size: 70px;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: -3px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    
    .header span {
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: bold; }
    
    #estilotitulo:before,
    #estilotitulo:after {
      content: '';
      padding: 150px 100px;
      position: absolute;
      left: 50%;
      width: 100%;
      top: 50%;
      display: block;
      border: 10px solid #733D29;
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(0deg);
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
      -webkit-animation: 15s infinite alternate ease-in-out tipsy;
      animation: 15s infinite alternate ease-in-out tipsy;
      border-radius: 30px; }
    
    #estilotitulo:before {
      border-color: #733D29 #733D29 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      z-index: -1; }
    
    #estilotitulo:after {
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #733D29 #733D29;
      -webkit-box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);
      box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8); }


/* Particles-js background */
#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
}

/* particles container */
#particleWrapper {
  position: relative;
  width: 100%; 
  height: 100vh;
  margin: 0; 
  z-index: 2;
}

/* particles title */
.layer-1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: #023E73;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-shadow: #000;
  /* Centra el texto tanto vertical como horizontalmente */
  position: absolute;
  top: 40%;
  pointer-events: none;
  width: 100%;
}
@media (max-width: 650px) {
  .layer-1 {
    font-size: 2rem;
    top: 45%;
  }
}


.layer-2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #000000;
  margin: 0;
  padding: 0;
  width: 100%;
  

  /* Centra el texto tanto vertical como horizontalmente */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (max-width: 650px) {
  .layer-2 {
    font-size: 1rem;
    top: 60%;
  }
}


.layer-3 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #000000;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;

  /* Centra el texto tanto vertical como horizontalmente */
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.video-fluid {
  width: 100%;
  height: auto;
}
@media (max-width: 650px) {
  .layer-3 {
    font-size: 1rem;
    top: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
}

/*Styles conteiner*/
.ourconteiner {
  position:relative;
  color:#000;
  padding:20px;
  background:#fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border-radius: .25rem;
}

/*Styles Services*/
.services {
  width:90%;
  margin:auto;
}

/*Styles Values*/
.values{
  width:90%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-top: 100px;
}



/*Styles Services*/
.services-esp{
  padding-top: 50px;
}

/*Style Video Services*/
video::-webkit-media-controls {
  display: none;
}
video::-webkit-media-controls-play-button {
  display: none;

}
video::-webkit-media-controls-volume-slider {
 display: none;
}
video::-webkit-media-controls-mute-button {
   display: none;

}
video::-webkit-media-controls-timeline {
   display: none;
}
video::-webkit-media-controls-current-time-display{
   display: none;
}


.services-heading{
  margin-top: 5rem; 
  margin-bottom: 5rem;
}

.services-section{
  margin-top: 5rem;
  margin-bottom: 8rem !important;
}




/*Carousel*/
.carousel {
  height: 50%; 
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
   height: 100%; 
}




/*Styles PortFolio*/
.portfolio {
  margin-bottom: -30px;
}

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 40rem;
  margin-bottom: 30px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color:  #49736780
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

.portfolio-modal .portfolio-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}



.portfolio-modal .close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 2rem;
  line-height: 1rem;
  color: #000;
  opacity: 1;
}


.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}


/*Styles Divider*/
.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 10rem;
  height: 3px;
  background-color: #28403D;
  border-radius: 1rem;
  border-color:#28403D!important;
}

.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
  color: #28403D !important;
  font-size: 1.5rem;
}

.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}


.fontmon{
  font-family: 'Montserrat', sans-serif;
}

.fontadvent{
  font-family: 'Advent Pro', sans-serif;
}


.pfooter{
  font-size: 15px;
}

a:hover {
font-size:20px;
color:#000;
}